body {
    background-image:url('images/blue-back.jpg');
	color:	white;
    font-family:'andale mono', sans-serif;
}

h1 {
    font-size:xx-large;
}

#demoMap {
    width: 1000px;
    height: 435px;
    frameborder: 0px;
    scrolling: no;
    margin: 0px;
    border-radius: 4px;
}

#body-div {
    width: 50%;
    margin: 0 auto;
    margin-top: 90px;
    width: 1000px;
}

#footer {
	margin-top:	35px;
	position:	absolute;
	bottom:	20px;
}

