html, body {
    margin: 0;
    padding: 0;
}

body {
    background-image:url('images/blue-back.jpg');
    color: white;
    font-family:'andale mono', sans-serif;
}

thead {
    font-size:xx-large;
    margin-bottom: 20px;
}

#body-div {
    margin: 10px 20px;
}

#menu {
    width: 10%;
    float:left;
    margin-top: 70px;
}

ul#menu {
    padding: 0;
    margin: 0 0 0 15px;
}

#menu li {
    padding-left: 15px;
    margin-bottom: 5px;
}

#map {
    width: 80%;
    float: right;
    height: 350px;
}

a {
    color: cornflowerblue;
}

h1 {
    float: right;
    width: 80%;
}

table {
    float: right;
    width: 80%;
    margin-top: 10px;
}

td.value{
    margin-top: 20px;
    float: left;
}

td.label{
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

td.logo {
    text-align: justify;
}

footer {
    margin: 20px 0;
    float: left;
    clear: both;
}

