body {
    padding: 1em 2em;
    background-color: #445775;
    color: white;
    font-family: sans-serif;
}

header {
  margin-bottom: 2em;
}

header h1 {
  margin: 0;
}

#content {
  /* Not needed currently. But hey! it's there! */
}

footer {
  margin: 20px 0;
}

a {
  color: cornflowerblue;
}


/*** Map ***/

#map {
  height: 350px;
}


/*** HS List ***/
/* The list is transformed from a bullet-list (ul) to a pipe-
 * separated list
 */

#hslist ul {
  list-style: none; /* No bullets */
  padding: 0;
  margin: 0;
}

#hslist li {
  display: inline; /* Horizontal list */
  padding: 0;
  margin: 0;
}

#hslist li + li {
  margin-left: 10px; /* Gap on the left of the pipe */
}

#hslist li:before {
  content: '|'; /* Add pipe before items */
  margin-right: 10px; /* Gap on the right of the pipe */
}

#hslist li:first-child:before {
  content: none; /* Remove pipe before first item */
}


/*** HS Data ***/

#hsdata {
  margin-top: 2em;
  padding: 1em 0;
  border: 1px #5476b1;
  border-style: solid none; /* Top and bottom visible */
}


/* The header should appear on the right of the data box, with content surrounding it. Also, the HS name should be placed on the #hsdata top border, and the border should not be drawn under the name (with a gap between the border and the name). However, the border should act normally with the logo (if any). */

#hsdata header {
  float: right;
  margin: -2em 0 1em 1em;
  
  padding-right: 4em; /* Displacement */
  text-align: right;
}

#hsdata header #hsname {
  position: relative;
  right: -1em; /* Same as right padding, in opposite direction (cancels displacement) */
  display: inline-block;
  background: #445775;
  padding: 0 1em; /* Line stops before and after name */
}

#hsdata header #hslogo {
  max-height: 150px;
  max-width: 350px;
}


#hsdata dl dd + dt { /* Between each items */
  margin-top: 1em;
}

